@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);

.info-list {
    list-style-type: none;
    font-size: 1.2rem;
}

h1 {
    text-align: center;
}

.skills {
    display: flex;
    flex-wrap: wrap
}

.circle-wrap {
    margin: 150px auto;
    width: 150px;
    height: 150px;
    background: #fefcff;
    border-radius: 50%;
    border: 1px solid #cdcbd0;
}



.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%;
}

.circle-wrap .circle .mask {
    clip: rect(0px, 150px, 150px, 75px);
}

.circle-wrap .inside-circle {
    width: 122px;
    height: 122px;
    border-radius: 50%;
    background: #d2eaf1;
    line-height: 120px;
    text-align: center;
    margin-top: 14px;
    margin-left: 14px;
    color: #dd7700;
    position: absolute;
    z-index: 100;
    font-weight: 700;
    font-size: 1.3em;
}

/* color animation */

/* 3rd progress bar */
.mask .fill {
    clip: rect(0px, 75px, 150px, 0px);
    background-color: #ffc107;
}

.mask.full,
.circle .fill {
    animation: fill ease-in-out 3s;
    transform: rotate(135deg);
}

@keyframes fill {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(135deg);
    }
}

.profile-photo {
    border-radius: 20px;
}

h2 {
    text-align: center;
}

.progress {
    min-width: 0%;
    max-width: 50%;
    margin: 10px;
    text-align: center;
    /* background-color: #ffc107; */
    height: 30px;
    font-size: 1.3rem;
    margin-left: 0px
}



 /* main color = #ffc107 */