
.contact-left {
    border: 2px solid white;
    margin: 10px
}
.card{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border: none;
    padding: 20px;
}
button{
    border: none;
    padding:0px,10px,0px,10px;
}
@media only screen and (max-width: 600px) {
    .card{
      margin: 0px;
    }
  }
.card-body{
    color: black;
}